@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


:root {
    --pretoFundo: rgb(44, 44, 44);
    --brancoFundo: rgb(228, 228, 228);
    --pretoLegal: rgb(58, 58, 58);
    --brancoLegal: rgb(228, 228, 228);
    --AzulClaro: rgb(139, 139, 243);
    --AzulEscuro: rgb(63, 63, 155);
}

.black:root{
    --pretoFundo: rgb(228, 228, 228);
    --brancoFundo: rgb(44, 44, 44);
    --pretoLegal: rgb(228, 228, 228);
    --brancoLegal: rgb(58, 58, 58) ;
    --AzulClaro: rgb(63, 63, 155);
    --AzulEscuro: rgb(139, 139, 243);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    color: var(--pretoLegal);
    transition: .2s;

  
   

}

body{
    background: var(--brancoFundo);
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--pretoLegal);
}


main{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

main nav {
    display: flex;
    width: 80vw;

    
}

main nav img{
    float: right;
    width: 40%;
    border-radius: 10px;
}

main nav h3 button
{
    width: 20em;
    font-size: .8em;
    color: AzulEscuro;
}


header{
    
    display: flex;
    height: 8vh;
    justify-content: space-between;
    padding: 2vw;
    align-items: center;
    
}

header div~div{
    width: 80%;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    width: 25vw;
}

main div h1{
    color: var(--AzulEscuro);
    font-weight: 500;
}
main span h1{
    color: var(--AzulEscuro);
    font-weight: 500;
    margin-bottom: 5vh;
}
main button, section button, div button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 7vh;
    border-radius: 10px;
    border: 2px solid var(--pretoLegal);
    font-size: 1.5vw;
    margin-top: 5vw;
    color: var(--AzulEscuro);
    background: var(--brancoFundo);
}
button ion-icon {
    color: var(--AzulEscuro);
}
.blackAndWhite{
    width: 10%;
    height: 120%;
    border-radius: 50px;
    appearance: none;
    background: var(--AzulClaro);
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;

}

.blackAndWhite:after {
    content: '';
    position: absolute;
    width: 50%;
    border-radius: 20px;
    height: 100%;
    background: var(--AzulEscuro);
    transform: scale(1.1);
    transition: .3s;
}

.blackAndWhite:checked:after{
    margin-left: 50%;
}

.PortAndEnglish
{
    width: 10%;
    height: 120%;
    border-radius: 50px;
    appearance: none;
    
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    
    background: url(https://cdn-icons-png.flaticon.com/512/197/197386.png);
    background-position: center;
    background-size: cover;
}

.english{
    background: url(https://img.freepik.com/vetores-premium/bandeira-americana-ilustracao-vetorial-bandeira-dos-estados-unidos-da-america-bandeira-colorida-dos-estados-unidos-vector_750724-19387.jpg);
    background-position: center;
    background-size: cover;
}


.icones{
    display: flex;
    justify-content: center;
    height: 10vh;
    gap: 2vw;
}


.icones .icon{
    width: 6vw;
    height: 10vh;
}


section{
    width: 45vw;
    margin-left: 50%; transform: translateX(-50%);
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
}



.card img{
    width: 3vw;
    border-radius: 50%;
}
#meuscards{
    width: 100vw;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.card{
    width: 50vw;
    background: var(--AzulClaro);   
    padding: 3vh;
    font-size: 12px;
    border-radius: 20px;
    transform: translateX(0);
    display: flex;
    align-items: center;
    gap: 10vw;
}



#meuscards:last-child{
    margin-bottom: 10vh;
}

#meuHeader div~div input {
    width: 5vw;
    height: 2vw;
  

}


@media screen and (max-width: 800px) {
    main nav {
        flex-direction: column;
    }
    #meuNomeHeader{
        display: none;
    }
    #meuHeader{
        height: 30vh;
    }
    #meuHeader div~div{
       display: flex;
       flex-direction: column-reverse;
       height: 100%;
     
    }

    #meuHeader div~div input {
        width: 30vw;
        height: 5vw;
    }

    main {
        flex-direction: column;
        width: 80vw;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 5vh;
    }
    main img{
        width: 50vw;
        margin: 10%;
    }

    main button {
        width: 40vw;
        font-size: 1.4em;
    }
    
    .icones{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 20vh;
        gap: 2vw;
    }
    
    
    .icones .icon{
        width: 12vw;

       
        margin-bottom: .5vh;
    }
    
    section{
        width: 45vw;
    
        margin-left: 50%; transform: translateX(-50%);
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4vh;
        margin-bottom: 10vh;
    }

    section button {
        width: 90%;
        font-size: 1.4em;
    }


    .card{
        width: 80vw;
        font-size: .6em;  
    }

    #meuscards button {
        width: 70vw;
        font-size: 1.4em;
    }
    header div~div{
        width: 65%;
        height: 3vw;
        display: flex;
        justify-content: space-between;
        gap: 0px;
        
    }
}